/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: 360px;
    height: 3059px;
    margin: auto;
}
.header{
    background-image: url(img/index-1.jpg);
    background-size: 360px;
}
.header .menu h1{
    font: italic normal 900 24px/29px Raleway;
    color:white;
    text-align: center;
    background-color: black;
    padding-top: 10px;
    padding-left: 118px;
    width: 124px;
    height: 29px;
    font-size: 24px;
}
.header p{
    color:white;
    text-align: center;
    font-size: 48px;
    padding-left:15px;
}
.header .small{
    padding-left: 15px;
    color:ffffff99;
    text-align: center;
    font-size: 16px;
    padding-top: 24px;
}
.header .button{
    width: 200px;
    padding: 10px;
    text-decoration: none;
    display: block;
    margin: auto;
    color:white;
    text-align: center;
    background-color: green;
}
.content img{
    width: 340px;
    padding-top: 50px;
    padding-left:10px;
    padding-right:10px;
}
.content h1{
    font-weight: bold;
    font-size: 24px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.content p{
    width: 330px;
    font-size: 16px;
    padding-left: 15px;
    padding-bottom: 24px;
    color: #0000009a;
}
.content h2{
    font-size: 20px;
    padding-left: 10px;
    color:green;
}
.content .background{
    background-image: url(img/index-5.jpg);
    background-size: 360px 400px;
    padding-top: 47px;
}
.content .background h3{
    color:white;
    padding-left: 15px;
    padding-top: 24px;
    font:normal normal bold 32px/48px Roboto;
    text-align: left;
}
.content .background h4{
    color:gray;
    width: 82px;
    height: 19px;
    padding-left: 16px;
}
.content .background h5{
    color:white;
    width: 183px;
    height: 28px;
    padding-left: 16px;
}
.content .end{
    color:green;
}
.footer1{
    background-image: url(img/footer.jpg);
    background-size: 360px;
}
.footer1 h1{
    color: white;
    font-size: 48px;
}
.footer2{
    width: 360px;
    height: 268px;
    background-color: black;
}
.footer2 h1{
    text-transform: capitalize;
    font-size: 24px;
    text-align: left;
    color:white;
    padding-top: 23px;
    padding-left: 15px;
    padding-bottom: 48px;
    font: italic normal 900 24px/29px Raleway;
}
.footer2 li{
    color:#FFFFFFDE;
    padding-left:15px;
    padding-top:16px;
}
.footer2 p{
    padding-left: 15px;
    padding-top:48px;
    color: #ffffff99;
}